{% extends "trader/base.html" %}

{% block content %}

{% if ask_delete %}
<a href=/trader&del={{strat.name}}&ask_delete={{strat.name}}/>Удалить вариант {{ask_delete}} </a>
{% endif %}

<div class="text-center">
    <div class="container">
        <table class="table table-striped table-sm" style="font-size:.7em">
            <thead>
            <tr>
                <th>Название</th>
                <th>Стратегия</th>
                <th>Открытых</th>
                <th>Закрытых</th>
                <th>Win %</th>
                <th>Начало</th>
                <th>Конец</th>
                 <th>Баланс</th>
                <th>Прибыль(Тест)</th>
                <th>К Hold</th>
                <th>Месячная в %</th>
                <th>Шарп</th>
                <th>Действия</th>


            </tr>
            <tbody>
            {% for varian in list_varians %}
            <tr>

                <th><a href=/variant?varian={{varian.id}}>{{varian.pair}}</a> {% if varian.limit_orders_buy %} LIMITED
                    {% elif  varian.stop_loss %} stop - {{varian.stop_loss}} {% endif%}
                </th>
                <th><a href="/admin/trader/variants/{{varian.id}}/change/">{{varian.type}}</a></th>
                <th><a href="/admin/trader/position/?o=-8.-5&strat={{varian.name}}/">{{varian.open}}</a></th>
                <th><a href="/admin/trader/position/?o=-8.-5&strat={{varian.name}}/">{{varian.closed}}</a></th>
                <th>{{varian.win_rate}} %</th>
                <th><small>{{varian.opened}}</small></th>
                <th><small>{{varian.last}}</small></th>
                <th>{{varian.balance}}<small>
                <th>{{varian.profit}}<small><a href="/admin/trader/tests/?o=-3.4.1&pair={{varian.name}}">/{{varian.test_profit}}</a></small></th>
                <th>{{varian.if_hold}} % <small>{{varian.hold}}</small></th>
                <th>{{varian.month_profit}} %</th>
                <th>{{varian.sharp}}</th>


                <th><a href=/trader?del={{varian.id}}>Очистить</a></th>


            </tr>
            {% endfor %}


            </tbody>

            </thead>
            <a href=/trader?reset_all=reset_all>обновить все</a>


            <!--        </table>-->
            <!--        <p>-->
            <!--        <br>-->
            <!--         <table class="table table-striped table-sm" style="font-size:.7em">-->
            <!--            <thead>-->
            <!--            <tr>-->
            <!--                <th>Название</th>-->
            <!--                <th>Диапазон колебания цены</th>-->
            <!--                <th>Открытых</th>-->
            <!--                <th>Закрытых</th>-->
            <!--                <th>Баланс</th>-->
            <!--                <th>Первая</th>-->
            <!--                <th>Послед</th>-->
            <!--                <th>Прибыль</th>-->


            <!--            </tr>-->
            <!--            <tbody>-->
            <!--            {% for strat in stop_list_strats %}-->
            <!--            <tr>-->

            <!--                <th><a href=/admin/trader/strategy/{{strat.id}}/change/>{{strat.name}}</a> {% if strat.limit_orders_buy %} LIMITED {% endif %}</th>-->
            <!--                <th>{{strat.step_perc}}</th>-->
            <!--                <th><a href="/admin/trader/position/?o=-8.-5&strat={{strat.name}}">{{strat.open}}</a></th>-->
            <!--                <th><a href="/admin/trader/trades/?o=-8.-5&strat={{strat.name}}">{{strat.closed}}</a></th>-->
            <!--                <th>{{strat.balance}}<small>-->
            <!--                <th><small>{{strat.opened}}</small> </th>-->
            <!--                <th><small>{{strat.last}}</small> </th>-->
            <!--                <th>{{strat.profit}}</th>-->


            <!--            </tr>-->
            <!--            {% endfor %}-->

            <!--            </tbody>-->

            <!--            </thead>-->


            <!--        </table>-->
            <!--    </div>-->

            {% endblock %}