<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>BOT- автозагрузка</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">

        <li class="nav-item"><a class="nav-link" href=/admin/>Админка</a></li>


    </ul>
</nav>


<div class="text-center">
    <div class="container">
        <table class="table table-striped table-sm" style="font-size:.7em">
            <thead>
            <tr>
                <th>Название</th>
                <th>Диапазон колебания цены</th>
                <th>Открытых</th>
                <th>Закрытых</th>
                <th>Баланс</th>
                <th>Создана</th>
                <th>Прибыль</th>


            </tr>
            <tbody>
            {% for strat in list_strats %}
            <tr>

                <th><a href=/admin/trader/strategy/{{strat.id}}/change/>{{strat.name}}</a> {% if strat.limit_orders_buy %} LIMITED {% endif %}</th>
                <th>{{strat.range}}</th>
                <th><a href="/admin/trader/position/?o=-8.-5&strat={{strat.name}}">{{strat.open}}</a></th>
                <th><a href="/admin/trader/trades/?o=-8.-5&strat={{strat.name}}">{{strat.closed}}</a></th>
                <th>{{strat.balance}}<small>
                <th><small>{{strat.opened}}</small> </th>
                <th>{{strat.profit}}</th>


            </tr>
            {% endfor %}

            </tbody>

            </thead>


        </table>
        <p>
        <br>
         <table class="table table-striped table-sm" style="font-size:.7em">
            <thead>
            <tr>
                <th>Название</th>
                <th>Диапазон колебания цены</th>
                <th>Открытых</th>
                <th>Закрытых</th>
                <th>Баланс</th>
                <th>Создана</th>
                <th>Прибыль</th>



            </tr>
            <tbody>
            {% for strat in stop_list_strats %}
            <tr>

                <th><a href=/admin/trader/strategy/{{strat.id}}/change/>{{strat.name}}</a> {% if strat.limit_orders_buy %} LIMITED {% endif %}</th>
                <th>{{strat.range}}</th>
                <th><a href="/admin/trader/position/?o=-8.-5&strat={{strat.name}}">{{strat.open}}</a></th>
                <th><a href="/admin/trader/trades/?o=-8.-5&strat={{strat.name}}">{{strat.closed}}</a></th>
                <th>{{strat.balance}}<small>
                <th><small>{{strat.opened}}</small> </th>
                <th>{{strat.profit}}</th>



            </tr>
            {% endfor %}

            </tbody>

            </thead>


        </table>
    </div>

    <div class="container-fluid">
        <div class="row">


            <div class="col">

                {% block content %}
                {% endblock %}

            </div>
        </div>

</body>
</html>